html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 400%;
    color: #d55931;
}

a {
  color: #eeeeee;
}

h6 {
  color: #eeeeee;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  font-size: 1rem;
}

.text-center{
  text-align: center;
}
/*
 * Styles for the deck of cards
 */

 /* Burnt Orange - #d55931
Dark Blue - #222831
Ash White - #eeeeee
Blue grey - #3f4652 */


.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #3f4652 0%, #d55931 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #222831;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #d55931;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #eeeeee;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    color: #eeeeee;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #d55931;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal {
  box-sizing: border-box; width: 800px; align: center;
  background: #3f4652;
  text-align: center;
  color: #eeeeee;
  font-family: 'Orbitron', sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 1.2rem;
}

.github-link {
  color: #eeeeee;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
}
