html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ---------- FONT STYLING ---------- */

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 400%;
  color: #d55931;
}

h4 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  color: #eeeeee;
}

h6, p {
  color: #eeeeee;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
}

a {
  text-align: center;
  color: #eeeeee;
  font-size: 2rem;
}

/* ---------- SCORE PANEL ---------- */

.score-panel {
  margin-bottom: 10px;
  color: #eeeeee;
  font-size: 1.5rem;
  font-family: 'Orbitron', sans-serif;
}

.score-panel .stars {
  padding-right: 20px;
  display: inline-block;
  margin: 0 5px 0 0;
  color: #d55931;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .moves {
  padding-right: 10px;
}

/* .score-panel .time {
  padding-left: 30px;
} */

.score-panel .restart {
  padding-left: 30px;
  float:inherit;
  cursor: pointer;
}

/* ---------- DECK ---------- */

.deck {
  overflow: auto;
	background: linear-gradient(160deg, #eee 0%, #d55931 100%);
	padding: 0.5rem;
  border-radius: 15px;
}

main, header[role=banner]{
  text-align: center;
}

.deck-container {
  	display: inline-block;
    width: 610px;
    flex-wrap: wrap;
    align-items: center;
    perspective: 1000px;

}

/* ---------- MEMORY CARD ---------- */

.memory-card {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 90px;
  padding: 1rem;
  font-size: 4em;
  background: #3f4652;
  margin: 0.5rem;
  border-radius: 10px;
  float: left;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .6s;
}

/* ---------- Memory Card Styling ---------- */

/*  button pressure effect */
.memory-card:active {
  transform: scale(0.95);
  transition: transform .3s;
}

/* Styling for cards once matched */
.match {
  background: #eeeeee;
  opacity: 1;
}

.memory-card.match {
  cursor: default;
  background: #eeeeee;
  font-size: 33px;
  opacity: 1;
}

.memory-card .card-emoji {
  opacity: 0;
}

.deck .memory-card.selected {
  transform: rotateY(180deg);
  background: #d55931;
  cursor: default;
  }

.memory-card.selected .card-emoji {
      opacity: 1;
  }

  .text-center {
    text-align: center;
  }

/* GAME MODAL */

#alertModal {
  display: none;
  box-sizing: border-box;
  background: linear-gradient(160deg, #eeeeee 5%, #d55931 12%, #222831 18%, #3f4652 50%, #222831 82%, #d55931 88%,  #eeeeee 95%);
  border-radius: 0 30px;
  width: 800px;
  text-align: center;
  color: #eeeeee;
  font-family: 'Orbitron', sans-serif;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 1.2rem;
}

.github-link {
  text-align: center;
  color: #eeeeee;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.8rem;
}
